extends layout

block content
    h1= title

    div.detailContent

        div.infos
            p Type : #{catway.type}
            p État : #{catway.catwayState}

        div.actions
            button(onclick="") Réserver
            button(onclick="") Modifier

            button.deleteBtn(onclick="deleteCatway( #{catway.catwayNumber} )") Supprimer