extends layout

block content
    h1= title

    div.detailContent

        div.infos
            p Type : #{catway.type}
            p État : #{catway.catwayState}

        div.actions
            a(href="") Réserver 
            a(href="") Modifier 
            a.deleteBtn(href="") Supprimer 