extends layout

block content
  h1= title

  ul.cardList
    for catway in catways
        a(href="/catways/#{catway.catwayNumber}")
            li.itemCard
                h3 Catway N°#{catway.catwayNumber}