extends layout

block content
  h1= title
  div.cardContainer
    div.card
      h2 Catways
      a(href="/catways") Voir tous les catways
      a(href="/catways/create-catways") Ajouter un catway

    div.card
      h2 Utilisateurs
      a(href="/users") Voir tous les utilisateurs
      a(href="/users/create-users") Ajouter un utilisateur