extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/users/authenticate", method="post")
    label Identifiant 
    br
    input(type="text", name="email")
    br
    label Mot de passe 
    br
    input(type="password", name="password")
    br
    input(type="submit", value="Me connecter")