doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src='/javascripts/fetchCatways.js')
    script(src='/javascripts/fetchUsers.js')
    script(src='/javascripts/fetchBooking.js')
